// _variables.scss

// Кольори
$primary-color: #9400D3;
$background-color: #f8f9fa;
$text-color: #000;
$white-color: #fff;
$light-gray: #f1f1f1;
$dark-color: #333;

// Розміри
$header-padding: 10px 20px;
$form-max-width: 400px;
$form-padding: 20px;