/* Медіазапит для адаптивності (бургер-меню) */

@use '../base/variables';

@media (max-width: 768px) {
  nav.top-nav .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: variables.$primary-color;
    padding: 20px;
  }

  nav.top-nav .menu.active {
    display: flex;
  }

  nav.top-nav .menu li a {
    padding: 15px;
    text-align: center;
    font-size: 18px;
  }

  .burger {
    display: flex;
  }
}